<!DOCTYPEhtml>
<html>
    <head>   
    <title> Movies </title>    
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
     <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    </head>
  

<body class="movies">


<div class="row">

      <% @movies.each do |movie|     %>
        <h1><%= movie.title %>
          <% movie.ratings.times do %>
          <%= image_tag('/assets/star.png', :size => "20x20") %>
          <% end %>
        </h1>

        <p><%= movie.description %></p>
  
</div>
    <% end %>
    </div>   
    </div>
           <%= link_to "Crate a review", new_review_path(@review) %>
</body>


</html>
