<!DOCTYPEhtml>
<html>
    <head>   
    <title> Movies </title>    
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
     <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    </head>
  

<body class="movies">



<table class="table table-striped" width="647">
  <thead>
    <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Ratings</th>
    </tr>
  </thead>
  <tbody>
   
      <% @movies.each do |movie| %>
       <tr>
        <td>1</td>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td> <% movie.ratings.times do %>
            <%= image_tag('/assets/star.png', :size => "20x20") %>
        <% end %></td>
        </tr>
      <% end %>
    
  </tbody>
</table>

    
    </div>   
    </div>

</body>


</html>
