body { 
padding-top: 60px; 
text-align: left;
margin-left: 50px; 
}

body.homepage{
background-image:url('http://www.dan-dare.org/FreeFun/Images/TheMatrixWallpaper1024.jpg');
}

.title {
  color: white;
}


