    
        <h1>New review added</h1><br>

          <h2><%= @review.username %>
          <% @review.ratings.times do %>
          <%= image_tag('/assets/star.png', :size => "20x20") %>
          <% end %>
        </h2>
        <p><%= @review.comment %></p>

       <%= link_to "Back to Movies", movies_path %>